.row{
    display: flex;
    justify-content: space-between;
    block-size: $xl-size;
    padding:0 $l-size;
    border-bottom: 1.3px solid lighten($blue, 10%);
}

.row__text {
    margin:auto 0;
    color:$grey;
}