.widget{
    background-color: #4f6b85;
}

.widget__message {
    margin:0;
    padding:$m-size;
    text-align: center;
    color:$grey;
    border-top: 1px solid lighten($blue, 10%)
}

.widget-header{
    background-color: $blue;
    color:$light-blue;
    display:flex;
    justify-content: space-between;
    padding:$m-size;

}

.widget-header__title {
    margin:0
}